@font-face {
    font-family: ubuntu-light;
    src: url(./font/Ubuntu-Light.ttf);
  }
  @font-face {
    font-family: ubuntu-regular;
    src: url(./font/Ubuntu-Regular.ttf);
  }
  @font-face {
    font-family: ubuntu-regular;
    src: url(./font/Ubuntu-Regular.ttf);
  }
  @font-face {
    font-family: ubuntu-medium;
    src: url(./font/Ubuntu-Medium.ttf);
  }
.container-scroller {
    overflow: hidden;
}
.page-body-wrapper {
    min-height: calc(100vh - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
}
.content-wrapper {
    background: #f2edf3;
    padding: 2.75rem 2.25rem;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.flex-grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}
.auth .auth-form-light {
    background: #ffffff;
}
.auth .brand-logo {
    margin-bottom: 2rem;
}
.auth .brand-logo img {
    width: 150px;
}
.font-weight-light {
    font-family: "ubuntu-light", sans-serif;
}
.font-weight-light {
    font-weight: 300 !important;
}
.auth form .form-group {
    margin-bottom: 1.5rem;
}
.auth form .form-group .form-control {
    background: transparent;
    border-radius: 0;
    font-size: .9375rem;
}
.form-control {
    border: 1px solid #ebedf2;
    font-family: "ubuntu-regular", sans-serif;
    font-size: 0.8125rem;
}
.auth form .auth-form-btn {
    height: 50px;
    line-height: 1.5;
}
.btn-gradient-primary:not(.btn-gradient-light) {
    color: #ffffff;
}
.btn.btn-lg, .btn-group-lg > .btn {
    font-size: 0.875rem;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.btn-gradient-primary {
    background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff));
    background: linear-gradient(to right, #da8cff,#fe7096);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.form-check {
    position: relative;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 0;
}
.form-check .form-check-label {
    display: block;
    margin-left: 1.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
}
.text-muted, .preview-list .preview-item .preview-item-content p .content-category {
    color: #9c9fa6 !important;
}
.auth form .auth-link {
    font-size: 0.875rem;
}
.card {
    border: 0;
    background: #fff;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.3125rem;
}
.card .card-body {
    padding: 2.5rem 2.5rem;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card .card-title {
    color: #343a40;
    margin-bottom: 0.75rem;
    text-transform: capitalize;
    font-family: "ubuntu-medium", sans-serif;
    font-size: 1.125rem;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
