@font-face {
    font-family: ubuntu-regular;
    src: url(../login/font/Ubuntu-Regular.ttf);
  }
  @font-face {
    font-family: ubuntu-bold;
    src: url(../login/font/Ubuntu-Bold.ttf);
  }
  @font-face {
    font-family: ubuntu-medium;
    src: url(../login/font/Ubuntu-Medium.ttf);

  }
body, html {
    overflow-x: hidden;
    padding-right: 0 !important;
}
body {
    font-size: 1rem;
    font-family: "ubuntu-regular", sans-serif;
    font-weight: initial;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
}
.navbar {
    font-family: "ubuntu-light", sans-serif;
    background: #fff;
    border-bottom: 1px solid lavenderblush;
}
.navbar .navbar-brand-wrapper .navbar-brand {
    color: #27367f;
    font-size: 1.5rem;
    line-height: 48px;
    margin-right: 0;
    padding: .25rem 0;
    width: 100%;
}
.navbar .navbar-brand-wrapper .navbar-brand img {
    width: calc(260px - 120px);
    max-width: 100%;
    height: 28px;
    margin: auto;
    vertical-align: middle;
}
.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
    display: none;
}
.navbar .navbar-brand-wrapper .navbar-brand {
    color: #27367f;
    font-size: 1.5rem;
    line-height: 48px;
    margin-right: 0;
    padding: .25rem 0;
    width: 100%;
}
.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
    width: calc(70px - 50px);
    max-width: 100%;
    height: 28px;
    margin: auto;
}
.navbar .navbar-brand-wrapper .navbar-brand img {
    width: calc(260px - 120px);
    max-width: 100%;
    height: 28px;
    margin: auto;
    vertical-align: middle;
}
.navbar .navbar-menu-wrapper {
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: #9c9fa6;
    padding-left: 24px;
    padding-right: 24px;
    width: calc(100% - 260px);
    height: 70px;
}
.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}
.navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
    font-size: 1.5rem;
}
.navbar .navbar-menu-wrapper .navbar-toggler {
    border: 0;
    color: inherit;
    height: 70px;
    border-radius: 0px;
    padding-left: 5px;
    padding-right: 20px;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.mdi-menu:before {
    content: "\F35C";
}
.mdi:before, .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dropdown, .dropleft {
    position: relative;
}
.menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    color: inherit;
    font-size: 0.875rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img {
    position: relative;
    width: 32px;
    height: 32px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img .availability-status.online {
    background: #1bcfb4;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img .availability-status {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #ffffff;
    bottom: 5px;
    right: -5px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text {
    margin-left: 1.25rem;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-text p {
    line-height: 1;
}
.text-black {
    color: #000;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link.dropdown-toggle:after {
    line-height: 2;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-toggle:after {
    color: #b66dff;
    font-size: 1rem;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ebedf2;
    border-radius: 0.25rem;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown {
    position: absolute;
    font-size: 0.9rem;
    margin-top: 0;
    padding: 0;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
}
.dropdownAnimation, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
    -webkit-animation-name: dropdownAnimation;
    animation-name: dropdownAnimation;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.dropdown .dropdown-menu {
    margin-top: .75rem;
    font-size: 0.875rem;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
    box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
    font-size: 1.25rem;
}
.mdi-fullscreen:before {
    content: "\F293";
}
.mdi:before, .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.mdi-power:before {
    content: "\F425";
}
.mdi:before, .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.navbar.fixed-top + .page-body-wrapper {
    padding-top: 70px;
}
.page-body-wrapper {
    min-height: calc(100vh - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
}
.sidebar {
    min-height: calc(100vh - 70px);
    background: #ffffff;
    font-family: "ubuntu-regular", sans-serif;
    padding: 0;
    width: 260px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
}   
.sidebar .nav {
    overflow: hidden;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 60px;
}
.sidebar .nav .nav-item {
    padding: 0 2.25rem;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-property: background;
    -webkit-transition-property: background;
}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image {
    width: 44px;
    height: 44px;
}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image img {
    width: 44px;
    height: 44px;
    border-radius: 100%;
}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
    margin-left: 1rem;
}
.font-weight-bold {
    font-family: "ubuntu-bold", sans-serif;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.text-small {
    font-size: 12px;
}
.text-secondary, .list-wrapper .remove {
    color: #c3bdbd !important;
}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
    font-size: 1.125rem;
    margin-left: auto;
}
.text-success {
    color: #1bcfb4 !important;
}
.mdi-bookmark-check:before {
    content: "\F0C1";
}
.mdi:before, .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sidebar .nav .nav-item .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    padding: 1.125rem 0 1.125rem 0;
    color: #3e4b5b;
    -webkit-transition-duration: 0.45s;
    transition-duration: 0.45s;
    transition-property: color;
    -webkit-transition-property: color;
}
.sidebar .nav .nav-item {
    padding: 0 2.25rem;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-property: background;
    -webkit-transition-property: background;
}
.sidebar .nav .nav-item .nav-link .menu-title {
    color: inherit;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1;
    vertical-align: middle;
}
.sidebar .nav .nav-item .nav-link i.menu-icon {
    font-size: 1.125rem;
    line-height: 1;
    margin-left: auto;
    color: #bba8bff5;
}
.sidebar .nav .nav-item .nav-link i.menu-icon:before {
    vertical-align: middle;
}
.mdi-home:before {
    content: "\F2DC";
}
.mdi:before, .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sidebar .nav .nav-item .nav-link i.menu-icon:before {
    vertical-align: middle;
}
.mdi-cursor-default:before {
    content: "\F1B4";
}
.sidebar .nav .nav-item .nav-link i.menu-icon:before {
    vertical-align: middle;
}
.mdi-chart-line:before {
    content: "\F12A";
}
.sidebar .nav .nav-item .nav-link i.menu-icon:before {
    vertical-align: middle;
}
.mdi-hanger:before {
    content: "\F2C8";
}
.sidebar .nav .nav-item.sidebar-actions {
    margin-top: 1rem;
}
.border-bottom {
    border-bottom: 1px solid #ebedf2 !important;
}
.btn-gradient-primary {
    background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff));
    background: linear-gradient(to right, #da8cff, #9a55ff);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.btn-gradient-primary:not(.btn-gradient-light) {
    color: #ffffff;
}   
.sidebar .nav .nav-item .nav-link i.menu-icon:before {
    vertical-align: middle;
}
.mdi-cash-usd:before {
    content: "\F117";
}
.gradient-bullet-list {
    padding-left: 0;
}
.gradient-bullet-list li {
    position: relative;
    list-style-type: none;
    padding-left: 25px;
    line-height: 1;
    padding-bottom: 25px;
}
.gradient-bullet-list li:nth-child(1):before {
    background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096));
    background: linear-gradient(to right, #ffbf96, #fe7096);
}
.gradient-bullet-list li:before {
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
.gradient-bullet-list li:before, .gradient-bullet-list li:after {
    content: "";
    position: absolute;
}
.gradient-bullet-list li:after {
    width: 11px;
    height: 11px;
    top: 2px;
    left: 2px;
    background: #fff;
    border-radius: 100%;
}
.gradient-bullet-list li:before, .gradient-bullet-list li:after {
    content: "";
    position: absolute;
}
.card {
    border: 0;
    background: #fff;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.3125rem;
}
.main-panel {
    -webkit-transition: width 0.25s ease, margin 0.25s ease;
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 260px);
    min-height: calc(100vh - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}   
.content-wrapper {
    background: #f2edf3;
    padding: 2.75rem 2.25rem;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.purchase-popup {
    background: #fff;
    padding: 15px 20px;
    border-radius: 3px;
}
.grid-margin, .purchase-popup {
    margin-bottom: 2.5rem;
}
.purchase-popup p {
    margin-bottom: auto;
    margin-top: auto;
    color: #7e7e7e;
    font-weight: 400;
    vertical-align: middle;
    line-height: 1;
}
.purchase-popup .btn.download-button {
    background: rgba(249, 249, 249, 0.7);
    color: #969292;
    border: 1px solid #d7d7d7;
}
.purchase-popup .btn {
    margin-right: 20px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.purchase-popup i {
    vertical-align: middle;
    line-height: 1;
    margin: auto 0;
    color: #b1b1b1;
}
.mdi-close:before {
    content: "\F156";
}
.page-header {
    margin: 0 0 1.5rem 0;
}
.page-title {
    color: #343a40;
    font-size: 1.125rem;
    margin-bottom: 0;
}
.page-title .page-title-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    text-align: center;
    -webkit-box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
    box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
}
.bg-gradient-primary {
    background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff)) !important;
    background: linear-gradient(to right, #da8cff, #9a55ff) !important;
}
.page-title .page-title-icon i {
    font-size: .9375rem;
    line-height: 36px;
}
.mdi-home:before {
    content: "\F2DC";
}
.stretch-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
}
.grid-margin, .purchase-popup {
    margin-bottom: 2.5rem;
}   
.card.card-img-holder {
    position: relative;
}
.stretch-card > .card {
    width: 100%;
    min-width: 100%;
}
.bg-gradient-danger {
    background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096)) !important;
    background: linear-gradient(to right, #ffbf96, #fe7096) !important;
}
.card .card-body {
    padding: 2.5rem 2.5rem;
}
.card.card-img-holder .card-img-absolute {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.font-weight-normal {
    font-family: "ubuntu-regular", sans-serif;
}
.font-weight-normal {
    font-weight: 400 !important;
}
.mdi-24px.mdi-set, .mdi-24px.mdi:before {
    font-size: 24px;
}
.mdi-currency-usd:before {
    content: "\F1B3";
}
.mdi-altimeter:before {
    content: "\F5D7";
}
.bg-gradient-info {
    background: -webkit-gradient(linear, left top, right top, from(#90caf9), color-stop(99%, #047edf)) !important;
    background: linear-gradient(to right, #90caf9, #047edf 99%) !important;
}
.bg-gradient-success {
    background: -webkit-gradient(linear, left top, right top, from(#84d9d2), to(#07cdae)) !important;
    background: linear-gradient(to right, #84d9d2, #07cdae) !important;
}
.mdi-account:before {
    content: "\F004";
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-family: "ubuntu-medium", sans-serif;
    font-weight: initial;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ebedf2;
}
.table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-family: "ubuntu-medium", sans-serif;
    font-weight: initial;
}
.table th, .table td {
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 1;
    white-space: nowrap;
}
.table th, .table td {
    padding: 0.9375rem;
    vertical-align: top;
    border-top: 1px solid #ebedf2;
}
.badge-danger {
    border: 1px solid #fe7c96;
    color: #ffffff;
}
.badge {
    border-radius: .125rem;
    font-size: 11px;
    font-weight: initial;
    line-height: 1;
    padding: .375rem .5625rem;
    font-family: "ubuntu-medium", sans-serif;
}
.badge-danger {
    background-color: #fe7c96;
}
.table th .badge, .table td .badge {
    margin-bottom: 0;
}
.navbar-nav-right{
    flex-direction: inherit;
    width: 30%;
    margin-left: auto;
}